<html lang="en">
    <head>

    </head>

    <body>
        <a href='/top/user-fav-short'> Favourites </a>
        <table>

            <thead>
                <tr>Song Name</tr>
                <tr>Artist</tr>
            </thead>

            <tbody>
                
                {% for val in data %}
                <tr>
                    <td>{{ val['track']['artists'][0]['name'] }}</td>
                    <td>{{ val['track']['name'] }}</td>
                </tr>
                {% endfor %}

            </tbody>
            
        </table>        

    </body>
</html>