<!DOCTYPE html>
<html>
    <head>
        <title> Redirect Pages </title>
    </head>
    <p> Playlists </p>
    <a href='/playlists'> Playlists </a>
    <p> User Favourite </p>
    <a href='/top/user-fav-short'> User Favourite </a>
    <p> Search </p>
    <a href='/search'> Search Result </a>
    <p> Recently Played </p>
    <a href='/view-recent'> Recently Played </a>
    <p> Create Playlist </p>
    <a href='/create-playlist'> Create Playlist </a>
    <p> Search Region </p>
    <a href="/search-avail"> Search Region </a>
</html>