<!DOCTYPE HTML>
<html>

    <head>
        <h1>Region Availability Finder</h1>
    </head>

    <body>
        <form action="/search-avail" method="post">
            <lable for="track_id">ID: </lable>
            <input type="text" id="track_id" name="track_id" placeholder="ID">
            <lable for="cc">Country Code: </lable>
            <input type="text" id="cc" name="cc" placeholder="Example: IN, US, JP">
            <button type="submit">Submit</button>
        </form>
    </body>

</html>