body {
    background-color: #202124;
}
img {
    border-radius: 50%;
}

.values {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table {
    background-color: #202124;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    border-spacing: 10px;
    border-radius: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'JetBrains Mono';
    font-size: 14px;
}
h1 {
    color: white;
    font-family: 'Press Start 2P';
    font-size: 6vh;
    font-weight: bold;
}

.buttons {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin-bottom: 25px;
}
.short {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 200px;
    font-size: 16px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'JetBrains Mono';
    font-size: 14px;
}
.medium {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 200px;
    color: #fff;
    background-color: forestgreen;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'JetBrains Mono';
    font-size: 14px;
}
.long {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'JetBrains Mono';
    font-size: 14px;
}
.fbotton {
    display: inline-flex;
    justify-content: center;
    align-content: center; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.playlist {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: forestgreen;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Press Start 2P';
    font-size: 12px;
}

.count {
    text-align: left;
    color: white;
    font-family: 'JetBrains Mono';
}
.trackart {
    text-align: left;
}
.name {
    text-align: left;
    color: white;
    font-family: 'JetBrains Mono';
}
.artist {
    text-align: left;
    color: white;
    font-family: 'JetBrains Mono';
}
.splink {
    text-align: center;
    width: 10%
}

.short:hover {
    background-color: forestgreen;
}
.long:hover {
    background-color: forestgreen;
}
.playlist:hover {
    background-color: #0056b3;
}
li a:hover {
    background-color: #0056b3;
}