body {
    background-color: #202124;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Press Start 2P';
    font-weight: bold;
    font-size: 5vh;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'JetBrains Mono';
    font-size: 14px;
}

.frm {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0056b3;
    height: 50vh;
    width: 100vh;
    border-radius: 10px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono'
}
lable {
    font-family: 'JetBrains Mono';
    color: white;
}
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: forestgreen;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    font-size: 12px;
    font-family: 'Press Start 2P';
}

li a:hover {
    background-color: #0056b3;
}